<!doctype html>
<html ng-app>
  <head ng-controller="HeaderController">
    <title>Simple Angular.js RSS Reader</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" id="favicon">
    <meta itemprop="name" content="{{item.title}}">
    <meta itemprop="description" content="{{item.contentSnippet}}">
    </head>
  <body>
    <section id="feedlist" ng-controller="FeedListController">
      <button ng-click="update()" ng-disabled="feedRemaining > 0">update feeds</button>
      <div ng-repeat="feed in list"
           class="feed"
           ng-click="selectFeed(feed)"
           ng-class="{unread: feed.unread > 0,selected: selected == feed}">
        {{feed.name}} <span ng-show="feed.unread > 0">({{feed.unread}})</span>
      </div>
      <div class="add-feed-form">
        <input type="text" placeholder="Add feed url" ng-model="new">
        <span>With "http://"</span>
        <button ng-click="add()">add</button>
      </div>
      <div class='last-update'>
        Last update: {{lastUpdate | date:'MM/dd/yyyy HH:mm:ss'}}
      </div>
    </section>
    <section id="feed"
             ng-controller="FeedController"
             ng-show="list.length > 0">
      <div ng-repeat="feed in list"
           class="item"
           ng-click="read(feed)"
           ng-class="{unread: feed.unread,selected: selected == feed}">
        {{feed.title}}
      </div>
    </section>
    <section id="content" ng-controller="ContentController" ng-show="item.title != ''">
      <h1><a href="{{item.link}}">{{item.title}}</a></h1>
      <div class="c" ng-bind-html-unsafe="item.content"></div>
      <div class="share">
        <button id="_share-gplus">
            <span class="icon">&nbsp;</span>
            <span class="label">Share on Google+!</span>
        </button>
      </div>
    </section>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript"
            src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular.min.js">
    </script>
    <script type="text/javascript" src="js/main.js"></script>

    <script type="text/javascript">
      (function() {
        var po = document.createElement('script'); po.type = 'text/javascript';
        po.async = true;
        po.src = 'https://apis.google.com/js/client:plusone.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(po, s);
      })();
    </script>

  </body>
</html>